.extraPagesBack {
	background-color: $mainColor;
	.contentWrapEx {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		padding: 10px;
		padding-bottom: 50px;
		h1 {
			margin-top: 50px;
			margin-bottom: 50px;
			text-align: center;
		}

		.textWrap {
			max-width: 768px;
			margin: 0 auto;
			p,
			li,
			th,
			td {
				font-size: 20px;
			}
			h3 {
				margin-top: 50px;
			}
			p {
				margin-bottom: 20px;
			}
			ul {
				margin-left: 40px;
				li {
					margin-bottom: 5px;
				}
			}
			hr {
				margin: 100px auto;
			}
			table {
				margin-bottom: 100px;
				padding: 5px;
				th,
				td {
					padding: 10px;
					border: 1px white solid;
				}
				th {
					font-weight: bold;
				}
			}
			.quote {
				padding: 5%;
			}
		}
	}
}
